body{
    background-color: #FDFDFD;
    min-height: 100vh;
}
  
a{
    text-decoration: none;
}

.decor-none{
    text-decoration: none;
    color:#6c757d;
}

.auth-bg-img{
    background-image: url('/img/login-banner.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    height: 100px;
    width: 100px;
  }